.App {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

.des{
  display: inline;
}
.header{
  padding-bottom: 15px;
}
.dow{
  padding-top: 15px;
}
body .ui.cards>.card{
  box-shadow: none;
}
.ui.button{
  padding: 10px 9px 10px 15px !important;
}